@model ArtGallery.Data.Models.Art

<div class="well-lg"><form method="post" action="/Home/EditArt/@Model.Id">
    <input type="text" name="title" value="@Model.Title" />
    <input type="text" name="link" value="@Model.Link" />
    <input type="submit" class="btn btn-success" value="Save" />
</form></div>

<div class="well-lg"><img src="@Model.Link" class="img-rounded" /></div>